::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 30px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #79bad2;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #183064;
 }

.img-container {
    padding: 25px;
}

.scroll-container {
    display: flex;
    padding: 5px;
    background-color: #313e41;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
    height: auto;
    align-items: center;
    
}

img {
    object-fit: contain;
    padding: 10px;
}

div div {
    margin-right: 20px;
}

.image-captions {
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    background: linear-gradient(to right, rgb(164, 209, 227), rgb(215, 195, 252));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 40px;
}

.img-adjustments {
    height: 150px;
    width: auto;
}

.img-adjustments1 {
    height: 560px;
    width: auto;
}

.img-adjustments2, .img-adjustments3 {
    height: 595px;
    width: auto;
}

.img-adjustments4 {
    width: 650px;
}

.img-adjustments5 {
    height: 450px;
    width: auto;
}

.img-adjustments6 {
    height: 375px;
    width: auto;
}